.navigation-bar {
    width: 75%;
    height: 130px;
    padding-left: 25%;
    background-color: #FCDDEC;
    position: absolute;
}

.name-title {
    padding-top: 20px
}

#name {
    font-size: 48px;
    color: #EF5DA8;
    padding-left: 2%;
    margin-top: 60px;
}

#my-title {
    font-size: 24px;
    font-weight: lighter;
    color: #EF5DA8;
    padding-left: 2%;
}

.side-bar {
    width: 25%;
    height: 100%;
    background-color: #F178B6;
    float: left;
    position: fixed;
    align-items: center;
}

.head-shot {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.links-to-sections {
    padding-top: 20px;
    padding-left: 5%;
    position: relative;
    color: black; 
    font-size: 12px;
    text-align: center;
}

.links {
    color: black;
}

.arrow {
    height: 16px;
    vertical-align: center;
}

.description {
    padding-top: 20px;
    position: relative;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: lighter;
    color: white;
    font-size: 16px
}

.content {
    padding-left: 30%;
    padding-top: 140px;
    position: relative;
}

.vertical-line {
    border-left: 3px solid #FCDDEC;
    height: 100%;
    float: left;
    margin-left: 10px;
    padding-right: 10px;
}

.title {
    font-size: 36px;
    color: #EF5DA8;
    padding-bottom: 3px;
    z-index: -1;
    position: relative;
}

.section {
    position: relative;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    vertical-align: middle;
  }

.company-logo {
    height: 105px;
    float:left;
    padding-right: 10px;
    padding-left: 20px;
    position: relative;
}

.details {
    padding-top: 10px;
    margin-left: 130px;
    position: static;
}

#job-title {
    font-size: 24px;
}

#company-name {
    font-size: 16px;
    font-weight: bold;
    color: #F178B6;
}

#dates-location {
    font-size: 16px;
    color: #F178B6;
    padding-top: 3px;
    padding-bottom: 3px;
}

#calendar {
    height: 26px;
    vertical-align: middle;
}

#locator {
    height: 24px;
    vertical-align: middle;
}

#company-description {
    font-size: 16px;
    font-style: italic;
}

.bullets {
    font-size: 16px;
    margin-left: 5px;
    position: relative;
    margin-bottom: 20px;
}

.whole-description {
    margin-top: 10px;
    margin-bottom: 10px;
}


